# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

on:
  push:
    branches:
      - main
  workflow_dispatch:
 
jobs:
  build:
    runs-on: ubuntu-latest
   
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          clean: true
          submodules: true
          fetch-depth: 0
 
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'
 
      - name: Restore NuGet packages
        run: dotnet restore HelloWord/HelloWorld.slnx
 
      - name: Build
        run: dotnet build HelloWord/HelloWorld.slnx --configuration Release --no-restore
